.progressContainer {
  display: flex;
  justify-items: center;
  align-items: center;
  height: 75px;
  width: 50vw;
  flex-direction: row;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--second-color-light);
  flex-grow: 1;
  height: 100%;
}

.itemLeft {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--second-color-light);
  flex-grow: 1;
  height: 100%;
  border-top-left-radius: 10px;
}

.itemRight {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--second-color-light);
  flex-grow: 1;
  height: 100%;
  border-top-right-radius: 10px;
}
