.container {
  display: grid;
  margin-top: 1vh;
  margin-bottom: 1vh;
  height: 400px;
  width: 75%;
  border: 1px solid var(--modal-background);
  border-radius: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.carpetBox {
  justify-self: center;
  align-self: center;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.protectBox {
  justify-self: center;
  align-self: center;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

.deodorizeBox {
  justify-self: center;
  align-self: center;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
}

.roomBox {
  justify-self: center;
  align-self: center;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

.bathBox {
  justify-self: center;
  align-self: center;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}

.entryBox {
  justify-self: center;
  align-self: center;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 5;
}

.staircaseBox {
  justify-self: center;
  align-self: center;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 5;
  grid-row-end: 6;
}

.counterBox {
  justify-self: center;
  align-self: center;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.counterBox1 {
  justify-self: center;
  align-self: center;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}
.counterBox2 {
  justify-self: center;
  align-self: center;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
}

.counterBox3 {
  justify-self: center;
  align-self: center;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 6;
}

.counterBox4 {
  justify-self: center;
  align-self: center;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}

.counterBox5 {
  justify-self: center;
  align-self: center;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}

.counterBox6 {
  justify-self: center;
  align-self: center;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;
}

.counterBox7 {
  justify-self: center;
  align-self: center;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 5;
  grid-row-end: 6;
}
.counterBox8 {
  justify-self: center;
  align-self: center;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
}
.counterBox9 {
  justify-self: center;
  align-self: center;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
}
.counterBox10 {
  justify-self: center;
  align-self: center;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 5;
}
.counterBox11 {
  justify-self: center;
  align-self: center;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 5;
  grid-row-end: 6;
}

.buttonLeft {
  margin-right: 0.75vw;
}

.buttonRight {
  margin-left: 0.75vw;
}
