.container {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 75%;
  margin: 0 auto;
  margin-top: 5rem;
  justify-content: center;
  align-items: center;
}

.header {
  width: 50%;
  font-size: 2.5rem;
  text-align: center;
  color: var(--primary-color-light);
  border-radius: 10px;
  background-color: white;
}

.caption {
  width: 50%;
  text-align: center;
}

.button {
}

.button button {
  border: none;
  outline: none;
  color: var(--primary-color-light);
  background-color: #bdf9e5;
  border-radius: 10px;
  padding: 1.5rem;
}

.button button:hover {
  color: var(--primary-color-light);
  cursor: pointer;
  opacity: 0.2;
}
